body {
  background-color: cadetblue;
}

.main-header {
  background-color: blue;
  padding: 50px;
  text-align: center;
  font-size: 20px;
}

/* .main-one {
  background-color: white;
  margin-right: 3px;
  padding: 10 20 10 900px;
} */

.h1 {
  background-color: blue;
  align-items: center;
  padding: 10px;
}

.h2 {
  margin-left: 20px;
}

img {
  padding: 1px;
  width: 475px;
  float: right;
}

/* Create four equal columns that floats next to each other */
.column2 {
  float: left;
  width: 475px;
  height: 875px;
  padding: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.column-left {
  padding: 20px;
  background-color: white;
  width: 25%;
}

.column-right {
  background-color: red;
  width: 75%;
}

#demo {
  padding: 20px;
  font-size: 30px;
}

p {
  color: white;
}

.footer {
  background-color: blue;
  text-align: center;
  padding: 20px;
}

.runner {
  margin-right: auto;
  height: 10px;
  width: 10px;
}

.column1 {
  float: left;
  align-content: space-around;
  height: 100px;

}

.column3 {
  float: right;
  align-content: space-around;
}
